<img [src]="player?.thumbnail">
<div id="playerCardContainer">
    <span id="title">{{player?.name}}</span>
    <span class="text">{{player?.position}}</span>
    <span class="text">Price : {{player?.signin?.amount}} {{player?.signin?.currency}}</span>
    <span class="text">Birth : {{player?.born | date:"MM/dd/yy"}}</span>
</div>