:host {
    display: flex;
    padding: 12px;
    margin: 4px;
    background: #efeff4;
}

img {
    max-width: 125px;
    margin-right: 8px;
}

#playerCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    font-style: italic;
    color: #bdbdbf;
}

#title {
    font-size: 18px;
    font-weight: 500;
}