<form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>League</mat-label>
      <input type="text"
           placeholder="Pick one league please"
           aria-label="League"
           matInput
           [formControl]="control"
           [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelect($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <router-outlet></router-outlet>